<h1>Listing users</h1>

<div id="spinner_div" style="float:right">
    <%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display: none' %>
</div>

<div id="page">
    <%=render :partial=>'list'%>
</div>